button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tamanho-div{
    width: 200px;
    height: 200px;
    background-color: lightblue;
}